body { background-color: #ededed; margin: 0; padding: 0; }

.o-0-0, .o-0-1, .o-0-2, .o-0-3, .o-0-4 { left: 0; }
.o-1-0, .o-1-1, .o-1-2, .o-1-3, .o-1-4 { left: 1px; }
.o-2-0, .o-2-1, .o-2-2, .o-2-3, .o-2-4 { left: 2px; }
.o-3-0, .o-3-1, .o-3-2, .o-3-3, .o-3-4 { left: 3px; }
.o-4-0, .o-4-1, .o-4-2, .o-4-3, .o-4-4 { left: 4px; }
.o-0-0, .o-1-0, .o-2-0, .o-3-0, .o-4-0 { top: 0; }
.o-0-1, .o-1-1, .o-2-1, .o-3-1, .o-4-1 { top: 1px; }
.o-0-2, .o-1-2, .o-2-2, .o-3-2, .o-4-2 { top: 2px; }
.o-0-3, .o-1-3, .o-2-3, .o-3-3, .o-4-3 { top: 3px; }
.o-0-4, .o-1-4, .o-2-4, .o-3-4, .o-4-4 { top: 4px; }

.p-1 { background-position: 0 -21px; }
.p-2 { background-position: 0 -42px; }
.p-3 { background-position: 0 -63px; }
.p-4 { background-position: 0 -84px; }
.p-5 { background-position: 0 -105px; }
.p-6 { background-position: 0 -126px; }
.p-7 { background-position: 0 -147px; }

#i-untitled { background-position: 0 -11px; }
#i-sign-library-reflection { background-position: 0 -22px; }
#i-p-70 { background-position: 0 -33px; }
#i-p-120 { background-position: 0 -44px; }
#i-p-170 { background-position: 0 -55px; }
#i-p-200 { background-position: 0 -66px; }
#i-y-2005 { background-position: 0 -77px; }
#i-y-2008 { background-position: 0 -88px; }
#i-e-3 { background-position: 0 -99px; }
#i-e-5 { background-position: 0 -110px; }
#i-e-7 { background-position: 0 -121px; }
#i-a-0 { background-position: 0 -132px; }
#i-a-1 { background-position: 0 -143px; }
#i-a-2 { background-position: 0 -154px; }
#i-a-3 { background-position: 0 -165px; }
#i-a-4 { background-position: 0 -176px; }
#i-a-5 { background-position: 0 -187px; }
#i-a-6 { background-position: 0 -198px; }
#i-a-7 { background-position: 0 -209px; }
#i-d-2-78-4-38 { background-position: 0 -220px; }
#i-d-4-9 { background-position: 0 -231px; }
#i-d-4-14-3-38 { background-position: 0 -242px; }
#i-d-5-34-3-78 { background-position: 0 -253px; }
#i-d-9-12 { background-position: 0 -264px; }
#i-d-12-9 { background-position: 0 -275px; }

#t-1 { height: 38px; }
#t-2 { background-position: 0 -38px; height: 38px; }
#t-3 { background-position: 0 -76px; height: 34px; }
#t-4 { background-position: 0 -110px; height: 114px; }
#t-5 { background-position: 0 -224px; height: 66px; }
#t-6 { background-position: 0 -290px; height: 78px; }
#t-7 { background-position: 0 -368px; height: 66px; }

#all { height: 479px; left: 50%; margin-left: -342px; margin-top: -240px; position: absolute; top: 50%; width: 684px; }
#artist { left: 32px; }
#email { display: none; left: 77px; bottom: 5px; width: 124px; }
#info { display: none; right: -148px; width: 124px; }
#info div { margin-bottom: 6px; }
#three { right: 0; text-align: right; width: 479px; }
#two { left: 72px; }

#artist, #email, #info, #one, #piece, #three, #two { position: absolute; }
#artist, #one div div, #piece, #three img, #two div div { border: 1px solid #ddd; }
#artist, #piece { background-image: url( /i/icons.jpeg ); height: 21px; bottom: 0; width: 21px; }
#email, #info div { background-image: url( /i/info.gif ); background-repeat: no-repeat; font-size: 1pt; height: 11px; line-height: 0.1pt; }
#four, #one, #piece { left: 0; }
#artist, #one div div, #piece, #two div div { cursor: pointer; }
#one, #two { width: 72px; }
#one, #three, #two { height: 479px; top: 0; }
#one div, #two div { position: relative; }
#one div div, #two div div { background-image: url( /i/thumbs.jpeg ); position: absolute !important; width: 50px; }

.d-n { display: none; }
.h-54 { height: 54px !important; }
.h-58 { height: 58px !important; }
.h-86 { height: 86px !important; }
.h-98 { height: 98px !important; }
.h-134 { height: 134px !important; }
